
.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

/*this part is for the table design in SecondComponent*/


table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}

.tablefont{
	color: white;
  	padding: 2px;
  	font-family: Arial;
  	text-align: center;
}